body {
  height: auto;
}
.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  /* justify-content: center; */
}

.page-name {
  max-width: 100%;
  color:  blue;
  height: 10%;
  font-size: 50px;
  margin: auto;
}

img {
  padding-top: 5%;
  width: 40%;
  height: 40%;
  margin: auto;
}

#littleContainer{
  display: flex;
  width: 100%;
}

#counter {
  margin:auto;
}
