body {
  height: auto;
}
.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 900px;
  /* justify-content: center; */
}

/* .page-name {
  font-family: 'Raleway', sans-serif;

  max-width: 90%;
  color:  blue;
  height: 10%;
  font-size: 50px;
  margin: auto;
} */

.animal-card {
  margin-top: 10%;
  max-width: 50%;
  height: 20%;
  margin: auto;
  border: solid;
  border-color: #34AF23;
  flex-shrink: 2;
  text-align: center;
}

img {
  max-width: 100%;
}

/* #littleContainer{
  display: flex;
  width: 100%;
  margin-bottom: 15px;
} */

/* #counter {
  margin:auto;
  max-width: 10%;
  font-size: 35px;
  padding-top: 6%;
}*/
